*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  min-width: 800px;
  height: inherit;
  margin: 0px;
  font-family: Raleway, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

h1 {
  margin: 0;
  padding: 0;
}

.body {
  margin: 0 auto;
}

.title {
  padding-top: 60px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 116px;
  line-height: 136px;
  letter-spacing: 0.035em;
  text-align: center;
  text-transform: uppercase;
  z-index: 3;
  max-width: 800px;
}

.bottom_line {
  margin-left: 0.25em;
}

body::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.3);
}

.title:hover {
  /*content: "";*/
  /*position: absolute;*/
  /*inset: 0;*/
  z-index: 1;
  /*background-color: rgba(255, 255, 255, 0.3);*/
}

.title:hover::before {
  content: "На самом деле нет.\AВажнее &mdash; научиться ошибаться.";
  white-space: pre;
  position: absolute;
  top: 180px;
  right: 20px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 35px;
  letter-spacing: normal;
  text-align: left;
  text-transform: none;
  box-shadow: 0 12px 0 0 currentColor;
  border: 2px solid currentColor;
  border-radius: 20px;
  background-color: white;
  z-index: 1;
  padding: 36px 44px;
  opacity: 1;
}

.title::after {
  content: "*";
  vertical-align: baseline;
  display: inline;
  margin-left: -0.25em;
}

.video {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
